<h1 class="new-house">New House</h1>

<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <%= render 'form', house: @house %>

        <%= link_to 'Back', houses_path %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

</div>
