<div class="container-fluid how-to-use">
        <div class="row">
            <h2>Easy convinient booking</h2>

        </div>
        <div class="row icons">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="/search.png" alt="">
                <h3>Search</h3>
                <h5>Search for a location and see the homes available to you</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="/book.png" alt="">
                <h3>Book</h3>
                <h5>With our one click booking system booking homes is easier</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="/travel.png" alt="">
                <h3>Travel</h3>
                <h5>Don't worry about the boring stuff we got you just go forth</h5>
            </div>

        </div>

    </div>
