<!DOCTYPE html>

<div class="container">
<div class="about-background-image">
  <div class="about-content">
    <h1>We're here to help!</h1>
    <h6>We're friendly annd available to chat. Reach out to us anytime and we'll <br>happily answer your questions</h6>
  </div>

</div>

<div class="our-staffs">
  <!--Section: Testimonials v.3-->
  <section class="section team-section">

      <!--Section heading-->
      <h1 class="section-heading">Our Staffs</h1>
      <!--Section description-->
      <p class="section-description">	 We have self motivated staffs who are passionate and willing to serve our clients with to their satisfaction</p>
      <!--First row-->
      <div class="row text-center">

          <!--First column-->
          <div class="col-md-4 mb-r">

              <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar1">

                  </div>
                  <!--Content-->
                    <h4>Dr. Owen Kamau</h4>
                    <h5>Web Designer</h5>
                    <p><i class="fa fa-quote-left"></i>Owen is the current chief designer, he has ten of years experience in tech specializing in  Web designing </p>

              </div>
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 mb-r">
              <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar2">
                  </div>

                  <!--Content-->
                  <h4>Prof. James Muriuki</h4>
                  <h5>Acting CEO</h5>
                  <p><i class="fa fa-quote-left"></i>The current CEO studied in the United states where he secured first class honors from Harvard Univesity for Computer science.</p>


              </div>
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mb-r">
              <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar3">
                  </div>
                  <!--Content-->
                  <h4>Dr. Boyd Ndoga</h4>
                  <h5>Senior Manager</h5>
                  <p><i class="fa fa-quote-left"></i> His managerial Success has made the company to be regonize both locally and internationally for the best service delivery to our clients. </p>


                  </div>

              </div>
          </div>
          </section>
          <!--/Section: Testimonials v.3-->
      </div>

      <div class="vision-mission">
        <div class="row">
          <div class="col-md-5 vision-mission">
            <h3>Mission Statement</h3>
            <p>At Manyatta, we promote the dignity and self-worth of all of our customers, and strive to give them excellent quality of life, as defined by the clients, individually and as a group. To that end, we encourage clients group decision-making through the House Councils, access to all areas of their homes here at Manyatta, and self-determination in activities, socialization, and food preferences. Manyatta is not just a caregiving facility—it is their home, and their community.</p>
          </div>
          <div class="col-md-5 vision-mission">
            <h3>Our Vision</h3>
            <p>	We connect people who have space to spare with those who are looking for a place to stay. Guests can build real connections with their hosts, gain access to distinctive spaces, and immerse themselves in the culture of their destinations. Whethr it's an urban apartment or countryside castle, Manyatta makes it effortless to showcase your space to an audience of millions, and to find the right space at any price point,anywhere and anytime. </p>
          </div>
        </div>
        <div class="row core-values">
          <h2>Core Values</h2>
          <li>Integrity</li>
          <li>Respect</li>
          <li>Customer Care</li>
          <li>Honesty</li>
          <li>Quality Assurance</li>
        </div>
      </div>

<div class="our-partner">
  <h1>Our Partners</h1>
  <li>
    <a href=""><img src="/partner/safaricom.png" width="100" height="60"></a>
  </li>
  <li>
    <a href=""><img src="/partner/serena.gif" width="100" height="60"></a>
  </li>
  <li>
    <a href=""><img src="/partner/moringa.png" width="100" height="60"></a>
  </li>
  <li>
    <a href=""><img src="/partner/airtel.png" width="100" height="60"></a>
  </li>
</div>

</div>
