<!-- Start of the Footer -->
<footer class="site-footer ">
	<div class="container">
	<div class="row">
		<div class="col-md-12 address">
		<h4>Get in Touch</h4>
			<address>
				Ngong lane Plaza<br>
				1st Floor<br>
				corner room<br>
			</address>
		</div>

	</div>
	<div class="buttom-footer">
		<div class="col-md-5">@ Copyright Manyatta 2017.</div>
		<div class="col-md-7">
			<ul class="footer-nav">
				<li>
					<%= link_to "Home", landing_index_path%>
				</li>
				<li>
					<%= link_to "About"%>
				</li>
				<li>
					<a href="#">Discover</a>
				</li>


			</ul>
		</div>
	</div>

</div>

</footer>
<!-- End of the Footer-->
