<div class="jumbotron">
        <div class="container-fluid header-lg-text">
            <!-- header large text -->
            <div class="row">
                <h1>The Ultimate African Home Safari</h1>
            </div>

            <!-- header large text -->
            <!--  input gro<div class="col-md-2"></div>up-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2"></div>

                <div class="col-xs-12 col-sm-12 col-md-8">

                    <div class="input-group input-group-lg">

                        <input type="text" placeholder="Where do you go next?" class="form-control">

                        <span class="input-group-btn">

          <button type="button" name="button" class="btn btn-default btn-lg">Search</button>

        </span>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2"></div>

            </div>
            <!--  input group-->
        </div>

    </div>
